:root{
    --first-color:#9792e4;
    --second-color:#0084fd;
    --third-color:#b5ddff;
    --fourth-color:#fdc15f;
    --fifth-color:#333333;
}
/*
    RESET
*/

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
img{
    width:100%;
}
/*
    GENERAL
*/

html{
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    width:100%;
    max-width: 1000px;
    margin: 0 auto;
    padding:0 10px;
}
.container-small{
    width:100%;
    max-width: 300px;
    margin: 0 auto;
    padding:0 10px;
}
.my-row{
    display:flex;
    flex-wrap: wrap;
}
.my-col{
    width:100%;
    margin-bottom: 10px;
}

.spaced{
    justify-content: space-between;
}
section{
    padding-top:50px;
    padding-bottom:25px;
}
/*
utility
*/
.bg-light-blue{
    background-color: var(--third-color);
}
.bg-indigo{
    background-color: var(--first-color);
}
.bg-grey{
    background-color: var(--fifth-color);
}  
.text-indigo{
    color:var(--first-color);
}
.text-orange{
    color:var(--fourth-color);
}  
    
/*
    HEADER
*/
header{
    background-color: var(--second-color);
    color:white;
    padding:10px;
}
header .container .my-row ul li{
    display: inline-block;
}
header .container .my-row nav:last-child div:first-child{
    display:none;
}

/*
    MAIN
*/
/*first section*/
main section:first-child .my-row .my-col{
    text-align: center;
    border-radius: 20px;
    padding:20px 20px;
}
main section:first-child .my-row .my-col:first-child .cont-img{
    width:250px;
}

main section:first-child .my-row .my-col h3,
main section:first-child .my-row .my-col i{
    color:var(--second-color);
}

/*second section*/

main section:nth-child(2) .planning-container div:last-child{
    background-color: white;
    border-radius: 20px;
}

/*third section*/
.testimonials-container{
    margin-bottom: 10px;
    border-radius: 25px;
    padding:10px;
    color:white;
}
.testimonial-cont-img{
    width:200px;
    height:200px;
    margin:0 auto;
}
.testimonial-cont-img>*{
    width:100%;
    height:100%;
    object-fit: cover;
    border-radius: 50%;
}
/*fourth section*/
main section:nth-child(4) .my-row .my-col{
    background-color: white;
    border-radius: 25px;
    padding:10px;
    margin-bottom: 10px;
}
/*fifth section*/
main section:nth-child(5) .cont-img{
    position:relative
}
main section:nth-child(5) .cont-img>*:first-child{
    position:absolute;
    top:0;
    right:0;
    font-size: 3rem;
}
main section:nth-child(5) .cont-img{
    width:200px;
    height:200px;
}
main section:nth-child(5) .cont-img>*:last-child{
    width:100%;
    height:100%;
    object-fit: cover;
    border-radius: 50%;

}
/*sixth section*/
main section:last-child .container{
    padding:0 50px;
    text-align: center;
    color:white;
}
/*
    FOOTER
*/
footer{
    padding:30px 0;
    color:white;
}

footer p {
    text-align: center;
    margin-bottom: 30px;
}

/*
    MEDIA
*/

/*tablet*/
@media screen and (min-width:768px){
    .my-col-33{
        width:calc((100% / 3) - 20px);
        margin-left: 10px;
        margin-right: 10px;
    }
    main section:first-child .my-row .my-col:first-child{
        width:calc(((100% / 3) * 2) - 20px);
    }
    main section:nth-child(3) .testimonials-container{
        display:flex;
        align-items: center;
    }

    main section:nth-child(3) .testimonials-container>*:first-child{
        min-width: 200px;
        margin-right: 20px;
    }
    main section:nth-child(4) .my-col-tablet-50{
        width:calc(50% - 20px);
        margin:0 10px;
    }
    main section:nth-child(5) .my-row .my-col:first-child{
        width:calc(60% - 20px);
        margin: 0 10px;
    }
    main section:nth-child(5) .my-row .my-col:last-child{
        width:calc(40% - 20px);
        margin: 0 10px;
    }
}
/*desktop*/
@media screen and (min-width:992px){
    header .container .my-row nav:last-child div:first-child{
        display:block;
    }
    header .container .my-row nav:last-child div:first-child ul li a{
        text-decoration: none;
        color:white;
        padding:20px 10px;
        
    }
    header .container .my-row nav:last-child div:last-child{
        display:none;
    }
    main section:first-child .my-row .my-col:first-child{
        display:flex;
    }
    main section:first-child .my-row .my-col:first-child>*:first-child{
        width:60%;
    }
    main section:first-child .my-row .my-col:first-child>*:last-child{
        width:30%;
        align-self: flex-end;
    }


    .planning-container{
        padding:0 60px;
        display:flex;
        align-items:flex-end;
    }
    .planning-container>*{
        width:50%;
    }

}
