:root{
    --first-color:#9792e4;
    --second-color:#0084fd;
    --third-color:#b5ddff;
    --fourth-color:#fdc15f;
    --fifth-color:#333333;
}
/*
    RESET
*/

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
img{
    width:100%;
}
/*
    GENERAL
*/

html{
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    width:100%;
    max-width: 1000px;
    margin: 0 auto;
    padding:0 10px;
}
.my-row{
    display:flex;
    flex-wrap: wrap;
}
.my-col{
    width:100%;
    margin-bottom: 10px;
}

.spaced{
    justify-content: space-between;
}
section{
    padding-top:50px;
}
/*
utility
*/
.bg-light-blue{
    background-color: var(--third-color);
}
.bg-indigo{
    background-color: var(--first-color);
}    
    
/*
    HEADER
*/
header{
    background-color: var(--second-color);
    color:white;
    padding:10px;
}
header .container .my-row ul li{
    display: inline-block;
}
header .container .my-row nav:last-child div:first-child{
    display:none;
}

/*
    MAIN
*/
/*first section*/
main section:first-child .my-row .my-col{
    text-align: center;
    border-radius: 20px;
    padding:20px 20px;
}
main section:first-child .my-row .my-col:first-child .cont-img{
    width:250px;
}

main section:first-child .my-row .my-col h3,
main section:first-child .my-row .my-col i{
    color:var(--second-color);
}

/*second section*/

main section:nth-child(2) .planning-container div:last-child{
    background-color: white;
    border-radius: 20px;
}

/*
    FOOTER
*/

/*
    MEDIA
*/

/*tablet*/
@media screen and (min-width:768px){
    .my-col-33{
        width:calc((100% / 3) - 20px);
        margin-left: 10px;
        margin-right: 10px;
    }
    main section:first-child .my-row .my-col:first-child{
        width:calc(((100% / 3) * 2) - 20px);
    }
}
/*desktop*/
@media screen and (min-width:992px){
    header .container .my-row nav:last-child div:first-child{
        display:block;
    }
    header .container .my-row nav:last-child div:first-child ul li a{
        text-decoration: none;
        color:white;
        padding:20px 10px;
        
    }
    header .container .my-row nav:last-child div:last-child{
        display:none;
    }
    .planning-container{
        padding:0 60px;
        display:flex;
        align-items:flex-end;
    }
    .planning-container>*{
        width:50%;
    }

}
