:root{
    --first-color:#9792e4;
    --second-color:#0084fd;
    --third-color:#b5ddff;
    --fourth-color:#fdc15f;
    --fifth-color:#333333;
}
/*
    RESET
*/

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

/*
    GENERAL
*/

html{
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    width:100%;
    max-width: 1000px;
    margin: 0 auto;
}
.my-row{
    display:flex;
    flex-wrap: wrap;
}

.spaced{
    justify-content: space-between;
}
/*
    HEADER
*/
header{
    background-color: var(--second-color);
    color:white;
    padding:10px;
    margin-bottom: 30px;
}
header .container .my-row ul li{
    display: inline-block;
}
header .container .my-row nav:last-child div:first-child{
    display:none;
}

/*
    MAIN
*/


/*
    FOOTER
*/

/*
    MEDIA
*/

/*tablet*/
@media screen and (min-width:768px){

}
/*desktop*/
@media screen and (min-width:992px){
    header .container .my-row nav:last-child div:first-child{
        display:block;
    }
    header .container .my-row nav:last-child div:last-child{
        display:none;
    }
}
